@import 'tailwindcss';

@font-face {
  font-family: 'Roboto';
  src: url('./assets/fonts/Roboto-font.ttf') format('truetype');
  font-weight: 100 900;
  font-style: normal;
  font-display: swap;
}

@layer base {
  h2 {
    font-weight: 800;
    font-size: 1.4rem;
  }
  p {
    font-family: 'Roboto';
  }
}
